html {
    scroll-behavior: smooth;
}
body {
    font-family: "Roboto", sans-serif;
    font-size: 14px;
    color: $primary-text-color;
    background-color: $main-white-color;
}
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
    margin: 0;
    padding: 0;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding-left: 15px;
    padding-right: 15px;
}
.section-title {
    text-align: center;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    margin-bottom: 50px;
}
    

