.menu-button {
    border: none;
    cursor: pointer;
    background-color: transparent;
    color: $primary-text-color;
    width: 40px;
    height: 40px;
    padding: 12px 8px;
    &:hover,
    &:focus {
        color: $accent-color;
    }
}
.menu-button__icon {
    fill:currentColor;
}
.close-menu {
    position: absolute;
    // top: 10px;
    // right: 15px;
    border: none;
    background-color: transparent;
    cursor: pointer;
}

.menu-container {
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    text-align: center;
    font-size: 40px;
    overflow: hidden;
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    background-color: $main-white-color;
    &.is-open {
        opacity: 1;
        visibility: visible;
    }
}
